html,
body {
/*css for full size background image*/
  background: url("../images/landing.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  text-align: center;
}


.land{
  padding-top: 10%;
}

.logo{
  height:55px;
  padding-bottom:20px;
  
}

.nav{
  height:75px;
}

.white{
  margin-top:15px;
  background-color:#fff;
  height:50px;
  width:100%;
}