<header class="dashboard" ng-include="'components/header/header.html'"></header>
<nav class="dashboard" role="navigation" ng-include="'components/navbar/navbar.html'"></nav>



<section class="dashboard" ng-controller="ItemController">
  <section class="categories">
    <div><span ng-click="toggleCategories()">Categories <span class="arrow-down"></span></span> </div>
    <div ng-class="categoriesActive ? 'in' : 'out'" class="categories-modal">
      <ul>
        <li>Books <span>254</span></li>
        <li>School Supplies <span>254</span></li>
        <li>Electronics <span>254</span></li>
        <li>Clothing <span>254</span></li>
        <li>Furniture <span>254</span></li>
        <li>Sports & Outdoor <span>254</span></li>
        <li>Automotive <span>254</span></li>
        <li>Beauty / Health & Fitness <span>254</span></li>
        <li>Party Supplies & Crafts <span>254</span></li>
      </ul>
    </div>
  </section>
  
  
  <section id="items" ng-controller="ProductListController">
  <div class="row">
    <div class="small-6 medium-3 large-2 columns" ng-repeat="item in products">
      <a href="#"><img ng-src="{{item.image}}"/></a>
      <a class="p-name" href="#">{{item.name}}</a>
      <ul class="product-info">

        <li>Condition: {{item.condition}}</li>
        <li>Description: {{item.description}}</li>
        <li>Category: {{item.category}}</li>
      </ul>
      <span class="price">{{item.price | currency}}</span>
    </div>
  </div>
</section>
  
</section>

