<div ng-controller="CreateController">
    <!-- Right Nav Section -->

    <div class="left">
        <div ng-include="'create.html'"></div>
        <a class="button create" ng-click="openModal()">Create</a>
        <input type="text" placeholder="Search the Exchange">
    </div>

    <div class="right">
        <!--<li><i class="icon-earth" href="" title="Notifications"></i><span>10</span></li>-->
        <!--<li><i class="icon-cog" href="" title="Settings"></i><span></span></li>-->

        <a dropdown-toggle="#notifications" class="icon-earth"><span>10</span></a>
        <ul id="notifications" class="f-dropdown notifications">
            <li><a href="#"><i class="icon-notice" /> {{product.name}} has received a new offer from {{user}}!</a></li>
            <li><a href="#"><i class="icon-checkmark" /> {{user}} has accepted the offer on {{product.name}}</a></li>
            <li><a href="#"><i class="icon-cancel" /> {{user}} has rejected the offer on {{product.name}}</a></li>
        </ul>

        <a dropdown-toggle="#settings" class="icon-cog"><span>!</span></a>
        <ul id="settings" class="f-dropdown settings right">
            <li>
                <a href="#">Settings <i class="icon-notice" /></a>
            </li>
            <li>
                <a ui-sref="landing">Sign Out <i class="icon-switch" /></a>
            </li>
        </ul>
    </div>
    <div ng-include="'views/product-create.html'"></div>
</div>
