<header class="dashboard" ng-include="'components/header/header.html'"></header>

<div ng-controller="ProductController">


    <div class="medium-8 columns">
      <h1>Create Product</h1>
      <div>{{msg}}</div>
    </div>

    <form name="create" novalidate>
    
      <div class="row">
        <div class="small-8 columns">
          <div class="row">
            <div class="small-6 columns">
              <label for="right-label" class="right inline">Name</label>
            </div>
          <div class="small-6 columns">
            <input type="text" name="name" id="right-label" data-ng-model="name" placeholder="Enter Name" required />
            <span class="error" ng-show="create.name.$error.required">
              Please enter a name
            </span>
        </div>
      </div>

      <div class="row">
            <div class="small-6 columns">
              <label for="right-label" class="right inline">Price</label>
            </div>
          <div class="small-6 columns">
            <input type="number" name="price" id="right-label" data-ng-model="price" placeholder="Enter Price" required />
            <span class="error" ng-show="create.price.$error.required">
              Please enter a price
            </span>
        </div>
      </div>

      <div class="row">
            <div class="small-6 columns">
              <label for="right-label" class="right inline">Category</label>
            </div>
          <div class="small-6 columns">
            
            <select data-ng-model="category" name="category" required>
                <option value="">Select Category</option>
                <option ng-repeat="category in category_list" value="{{category.category_id}}">{{category.category_name}}</option>
                
            </select>
            
            <span class="error" ng-show="create.category.$error.required">
              Please enter a category
            </span>
        </div>
      </div>

      <div class="row">
            <div class="small-6 columns">
              <label for="right-label" class="right inline">Condition</label>
            </div>
          <div class="small-6 columns">
            <input name="condition" type="text" id="right-label" data-ng-model="condition" placeholder="Enter Condition" required/>
            <span class="error" ng-show="create.condition.$error.required">
              Please enter a condition
            </span>
        </div>
      </div>

      <div class="row">
            <div class="small-6 columns">
              <label for="right-label" class="right inline">Description</label>
            </div>
          <div class="small-6 columns">
            <textarea name="description" id="right-label" data-ng-model="description" placeholder="Enter Description"></textarea>
        </div>
            <span class="error" ng-show="create.description.$error.required">
              Please enter a description
            </span>
      </div>
      
      
      <div class="row">
            <div class="small-6 columns">
              <label for="right-label" class="right inline">Product Image</label>
            </div>
          <div class="small-6 columns">            
            <div class="button" ngf-select ngf-change="onFileSelect($files)">Select File</div>
            <!--<input type="file" name="logo" id="logo" file-model="logoFile" ng-file-select="onFileSelect($files)">-->
        </div>

      </div>

      <input type="submit" class="button tiny right" data-ng-click="addProduct($files)"></input>
    </div>
  </div>
</form>
</div><!--Controller End-->

   
