
<script type="text/ng-template" id="CreateModal.html">
  <h4>Create Post</h4>

<div class="small-8 columns">
<form name="createForm">
<input type="text" placeholder="Item Name"/>
<input type="text" placeholder="Item Price"/>
<select ng-model="">
<option value="new">New</option>
<option value="like">Like New</option>
<option value="slight">Slightly Used</option>
<option value="used">Used</option>
<option value="very">Very Used</option>
</select>
<input type="text" placeholder="description"/>
<input type="submit" value="Create Post" />
</form>
</div>
</div>
</script>
  <a class="close-reveal-modal" ng-click="cancel()"></a>
</script>
