<header class="dashboard" ng-include="'views/dashboard-header.html'"></header>
<nav class="dashboard" role="navigation" ng-include="'views/dashboard-nav.html'"></nav>
<section class="dashboard" ng-controller="ItemController as umxFrontendApp">
  <div class="row">
    <div class="small-6 medium-3 large-2 columns" ng-repeat="product in umxFrontendApp.products">
      <img ng-src="{{product.images[0].full}}"/>
      <small>{{product.name}}</small>
      <br>
      <em class="push-right">{{product.price | currency}}</em><br>
      <small>Seller:{{product.seller}}</small>
      <br>
      <small>Condition:{{product.condition}}</small>
      <small>Description:{{product.description}}</small>
      <button ng-show="product.available">Button</button>
    </div>
  </div>
</section>
