<div ng-controller="CreateController">
  <!-- Right Nav Section -->

  <div class="left">
    <a class="button create" ng-click="openModal()">Create</a>
    <input type="text" placeholder="Search the Exchange">
  </div>

  <div class="right">
    <!--<li><i class="icon-earth" href="" title="Notifications"></i><span>10</span></li>-->
    <!--<li><i class="icon-cog" href="" title="Settings"></i><span></span></li>-->

    <a dropdown-toggle="#notifications" class="icon-earth"><span>10</span></a>
    <ul id="notifications" class="f-dropdown notifications">
      <li ng-repeat="choice in items">
        <a>{{choice}}</a>
      </li>
    </ul>

    <a dropdown-toggle="#settings" class="icon-cog"><span>!</span></a>
    <ul id="settings" class="f-dropdown settings">
      <li ng-repeat="(label, url) in linkItems">
        <a href="{{url}}">{{label}}</a>
      </li>
    </ul>

  </div>
<div ng-include="'views/product-create.html'"></div>
</div>
