<!-- Content -->
<div class="container land">
  <div class="row">
    <div class="col-md-12">
      <h1>Online Exchange Has Never Been Easier</h1>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-8">
      <img src="http://placehold.it/900x500/00000&text=video" class="img-responsive">
    </div>
      <div class="col-md-4">
        <p>All you need is a .edu email address to get started. Try it now!</p>
          <form role="form">
            <div class="form-group">
              <input class="form-control" id="exampleInputEmail1" placeholder="|Email"
              type="email">
            </div>
            <div class="col-md-8">
              <!-- Need to add controller for modal -->
              <!-- <a ui-sref=".terms">Terms And Conditions</a> -->
              <div ng-controller="LandingCtrl">
                  <div ng-show="terms">
                      <p>{{terms}}</p>
                  </div>
                    
                    
              </div>
            </div>
            <div class="col-md-4 col-md-">
            <button type="submit" class="btn btn-default">Sign Up</button>
          </div>
          </form>
        </div>
      </div>
    </div>
