
<script type="text/ng-template" id="CreateModal.html">
  <h4>Create Post</h4>

  <form>
  	<div class="row">
  		<div class="small-10 columns">
			<label>Name</label>
    		<input type="text" ng-model="product.name" id="name" placeholder="Product Title"/>
  		</div>
	</div>
	<div class="row">
		<div class="small-8 columns">
			<label>User Name</label>
		</div>
	</div>

  <div class="row">
      <div class="small-10 columns">
      <label>Price</label>
        <input type="text" ng-model="product.price" id="name" placeholder="Product Price"/>
      </div>
  </div>

  <div class="row">
      <div class="small-10 columns">
        <label>Category</label>
          <select ng-model="">
          <option value="books">Books</option>
          <option value="school">School Supplies</option>
          <option value="electronics">Electronics</option>
          <option value="clothing">Clothing</option>
          <option value="furniture">Furniture</option>
          <option value="sports">Sports & Outdoors</option>
          <option value="automotive">Automotive</option>
          <option value="beauty">Beauty/Health & Fitness</option>
          <option value="party">Party Supplies & Crafts</option>
        </select>
        </div>
    </div>

	<div class="row">
  		<div class="small-10 columns">
  			<label>Condition</label>
    			<select ng-model="">
					<option value="new">New</option>
					<option value="like">Like New</option>
					<option value="slight">Slightly Used</option>
					<option value="used">Used</option>
					<option value="very">Very Used</option>
				</select>
  			</div>
		</div>

	<div class="row">
  		<label>Description</label>
  			<div class="small-10 columns">
    			<textarea ng-model="product.description" placeholder="product description"/>
    			</textarea>
  			</div>
		</div>
	
<div class="row">
  <div class="small-2 small-offset-2 small-10 columns">
    <input type="submit" class="btn btn-primary" value="Create Post"/>
  </div>
</div>
</form>


</script>
  <a class="close-reveal-modal" ng-click="cancel()"></a>
</script>



